In [ ]:
import pandas as pd

In [ ]:
# Exploration du fichier products
df_products=pd.read_csv('/content/products.csv')

print(df_products.head(),'\n')

print(df_products.info(),'\n')

print(df_products.describe(),'\n')

print(df_products.shape,'\n')

# Supprimer les NA

df_products = df_products.dropna()
print(df_products.shape,'\n') #Pas de valeurs manquantes

# Checker les doublons

doublons = df_products.duplicated(subset=['id_prod'])
print(doublons.sum()) #Pas de doublons

# Analyse descriptive des variables

print("Statistiques descriptives du fichier Produit :\n", df_products.describe())
print("Répartition des catégories de produits :\n", df_products['categ'].value_counts())

  id_prod  price  categ
0  0_1421  19.99      0
1  0_1368   5.13      0
2   0_731  17.99      0
3   1_587   4.99      1
4  0_1507   3.99      0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3287 entries, 0 to 3286
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id_prod  3287 non-null   object
 1   price    3287 non-null   float64
 2   categ    3287 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 77.2+ KB
None

             price        categ
count  3287.000000  3287.000000
mean     21.856641     0.370246
std      29.847908     0.615387
min      -1.000000     0.000000
25%       6.990000     0.000000
50%      13.060000     0.000000
75%      22.990000     1.000000
max     300.000000     2.000000

(3287, 3)

(3287, 3)

0
Statistiques descriptives du fichier Produit :
              price        categ
count  3287.000000  3287.000000
mean     21.856641     0.370246
std      29.847908     0.615387
min      -1.000000     0.000000
25%       6.990000     0.000000
50%      13.060000     0.000000
75%      22.990000     1.000000
max     300.000000     2.000000
Répartition des catégories de produits :
 categ
0    2309
1     739
2     239
Name: count, dtype: int64

In [ ]:
# Exploration du fichier customers
df_customers=pd.read_csv('/content/customers.csv')

print(df_customers.head(),'\n')

print(df_customers.info(),'\n')

print(df_customers.describe(),'\n')

print(df_customers.shape,'\n')

# Supprimer les NA

df_customers = df_customers.dropna()
print(df_customers.shape,'\n') #Pas de valeurs manquantes

# Checker les doublons

doublons = df_customers.duplicated(subset=['client_id'])
print(doublons.sum()) #Pas de doublons

# Analyse descriptive des variables

print("Répartition des âges des clients :\n", df_customers['birth'].value_counts())
print("Répartition des sexes des clients :\n", df_customers['sex'].value_counts())

  client_id sex  birth
0    c_4410   f   1967
1    c_7839   f   1975
2    c_1699   f   1984
3    c_5961   f   1962
4    c_5320   m   1943

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8623 entries, 0 to 8622
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  8623 non-null   object
 1   sex        8623 non-null   object
 2   birth      8623 non-null   int64
dtypes: int64(1), object(2)
memory usage: 202.2+ KB
None

             birth
count  8623.000000
mean   1978.280877
std      16.919535
min    1929.000000
25%    1966.000000
50%    1979.000000
75%    1992.000000
max    2004.000000

(8623, 3)

(8623, 3)

0
Répartition des âges des clients :
 birth
2004    440
1979    215
1988    207
1986    203
1978    199
       ...
1933      8
1932      6
1931      4
1930      4
1929      3
Name: count, Length: 76, dtype: int64
Répartition des sexes des clients :
 sex
f    4491
m    4132
Name: count, dtype: int64

In [ ]:
# Exploration du fichier transactions
df_transactions=pd.read_csv('/content/transactions.csv')

print(df_transactions.head(),'\n')

print(df_transactions.info(),'\n')

print(df_transactions.describe(),'\n')

print(df_transactions.shape,'\n')

# Supprimer les NA

df_transactions = df_transactions.dropna()
print(df_transactions.shape,'\n') #Pas de valeurs manquantes

# Checker les doublons

doublons = df_transactions.duplicated()
print(doublons.sum()) #Deux doublons
print(df_transactions[df_transactions.duplicated()])

# Analyse descriptive des variables

print("Fréquence des transactions par date :\n", df_transactions['date'].value_counts())

  id_prod                        date session_id client_id
0  0_1518  2022-05-20 13:21:29.043970   s_211425     c_103
1   1_251  2022-02-02 07:55:19.149409   s_158752    c_8534
2  0_1277  2022-06-18 15:44:33.155329   s_225667    c_6714
3   2_209  2021-06-24 04:19:29.835891    s_52962    c_6941
4  0_1509  2023-01-11 08:22:08.194479   s_325227    c_4232

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 679532 entries, 0 to 679531
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id_prod     679532 non-null  object
 1   date        679532 non-null  object
 2   session_id  679532 non-null  object
 3   client_id   679532 non-null  object
dtypes: object(4)
memory usage: 20.7+ MB
None

       id_prod                             date session_id client_id
count   679532                           679532     679532    679532
unique    3267                           679371     342316      8602
top      1_369  test_2021-03-01 02:30:02.237413        s_0    c_1609
freq      2252                               13        200     25488

(679532, 4)

(679532, 4)

126
       id_prod                             date session_id client_id
27778      T_0  test_2021-03-01 02:30:02.237437        s_0      ct_1
52424      T_0  test_2021-03-01 02:30:02.237419        s_0      ct_0
96687      T_0  test_2021-03-01 02:30:02.237412        s_0      ct_1
130188     T_0  test_2021-03-01 02:30:02.237419        s_0      ct_0
139339     T_0  test_2021-03-01 02:30:02.237443        s_0      ct_1
...        ...                              ...        ...       ...
653098     T_0  test_2021-03-01 02:30:02.237432        s_0      ct_0
657830     T_0  test_2021-03-01 02:30:02.237417        s_0      ct_0
662081     T_0  test_2021-03-01 02:30:02.237427        s_0      ct_1
671647     T_0  test_2021-03-01 02:30:02.237424        s_0      ct_1
679180     T_0  test_2021-03-01 02:30:02.237425        s_0      ct_1

[126 rows x 4 columns]
Fréquence des transactions par date :
 date
test_2021-03-01 02:30:02.237413    13
test_2021-03-01 02:30:02.237428     8
test_2021-03-01 02:30:02.237414     8
test_2021-03-01 02:30:02.237443     8
test_2021-03-01 02:30:02.237444     8
                                   ..
2021-03-12 02:39:19.652938          1
2022-07-14 13:51:26.533057          1
2021-05-09 01:09:02.838161          1
2021-09-30 09:55:27.316636          1
2022-09-28 01:12:01.973763          1
Name: count, Length: 679371, dtype: int64

Liste des incohérences:


*   Présence d'un prix négatif dans le fichier produit
*   Présence de lignes test dans le fichier transaction
*   Présence de valeurs manquantes dans le fichier transaction
*   Présence de doublons dans le fichier transaction

In [ ]:
df_trans_prod = pd.merge(df_transactions, df_products[['id_prod', 'price', 'categ']], on='id_prod', how='left')
df_trans_client = pd.merge(df_transactions, df_customers[['client_id', 'sex', 'birth']], on='client_id', how='left')

# Afficher les premières lignes du DataFrame fusionné pour vérification
print(df_trans_prod.head())
print(df_trans_client.head())
print(df_transactions.head())

# Si la fusion est réussie, vous pouvez maintenant accéder à la colonne de catégorie dans df_merged
# Par exemple, pour ajouter cette colonne à df_transaction :
df_transactions['price'] = df_trans_prod['price']
df_transactions['categ'] = df_trans_prod['categ']
df_transactions['sex'] = df_trans_client['sex']
df_transactions['birth'] = df_trans_client['birth']

df_final=df_transactions.copy()
df_final['date'] = df_final['date'].str[:10]
print(df_final.head())

  id_prod                        date session_id client_id  price  categ
0  0_1518  2022-05-20 13:21:29.043970   s_211425     c_103   4.18    0.0
1   1_251  2022-02-02 07:55:19.149409   s_158752    c_8534  15.99    1.0
2  0_1277  2022-06-18 15:44:33.155329   s_225667    c_6714   7.99    0.0
3   2_209  2021-06-24 04:19:29.835891    s_52962    c_6941  69.99    2.0
4  0_1509  2023-01-11 08:22:08.194479   s_325227    c_4232   4.99    0.0
  id_prod                        date session_id client_id sex  birth
0  0_1518  2022-05-20 13:21:29.043970   s_211425     c_103   f   1986
1   1_251  2022-02-02 07:55:19.149409   s_158752    c_8534   m   1988
2  0_1277  2022-06-18 15:44:33.155329   s_225667    c_6714   f   1968
3   2_209  2021-06-24 04:19:29.835891    s_52962    c_6941   m   2000
4  0_1509  2023-01-11 08:22:08.194479   s_325227    c_4232   m   1980
  id_prod                        date session_id client_id
0  0_1518  2022-05-20 13:21:29.043970   s_211425     c_103
1   1_251  2022-02-02 07:55:19.149409   s_158752    c_8534
2  0_1277  2022-06-18 15:44:33.155329   s_225667    c_6714
3   2_209  2021-06-24 04:19:29.835891    s_52962    c_6941
4  0_1509  2023-01-11 08:22:08.194479   s_325227    c_4232
  id_prod        date session_id client_id  price  categ sex  birth
0  0_1518  2022-05-20   s_211425     c_103   4.18    0.0   f   1986
1   1_251  2022-02-02   s_158752    c_8534  15.99    1.0   m   1988
2  0_1277  2022-06-18   s_225667    c_6714   7.99    0.0   f   1968
3   2_209  2021-06-24    s_52962    c_6941  69.99    2.0   m   2000
4  0_1509  2023-01-11   s_325227    c_4232   4.99    0.0   m   1980

In [ ]:
# Calcul des indicateurs de ventes
chiffre_affaires_total = df_transactions['price'].sum()
nombre_total_transactions = len(df_transactions)

# Tops/Flops des produits
top_produits = df_transactions['id_prod'].value_counts().head(10)
flops_produits = df_transactions['id_prod'].value_counts().tail(10)

# Analyse de Pareto
total_ventes_produits = df_transactions.groupby('id_prod')['price'].sum().sort_values(ascending=False)
pareto_produits = total_ventes_produits.cumsum() / total_ventes_produits.sum()

# Répartition par catégorie
repartition_categorie = df_products.groupby('categ')['price'].sum()

# Affichage des résultats
print("Chiffre d'affaires total :", chiffre_affaires_total)
print("Nombre total de transactions :", nombre_total_transactions)
# Afficher d'autres indicateurs calculés...

print("Top 10 des produits les plus vendus :\n", top_produits)
print("Top 10 des produits les moins vendus :\n", flops_produits)

print("Analyse de Pareto pour les produits :\n", pareto_produits)

print("Répartition du chiffre d'affaires par catégorie :\n", repartition_categorie)

Chiffre d'affaires total : 11853528.679999994
Nombre total de transactions : 679532
Top 10 des produits les plus vendus :
 id_prod
1_369    2252
1_417    2189
1_414    2180
1_498    2128
1_425    2096
1_403    1960
1_412    1951
1_413    1945
1_406    1939
1_407    1935
Name: count, dtype: int64
Top 10 des produits les moins vendus :
 id_prod
2_23      1
0_549     1
0_1151    1
0_1284    1
0_2201    1
0_1539    1
0_1728    1
2_81      1
2_98      1
0_833     1
Name: count, dtype: int64
Analyse de Pareto pour les produits :
 id_prod
2_159     0.008006
2_135     0.013855
2_112     0.019373
2_102     0.024497
2_209     0.029303
            ...
0_1653    1.000017
0_1284    1.000017
0_1539    1.000017
0_2245    1.000017
T_0       1.000000
Name: price, Length: 3267, dtype: float64
Répartition du chiffre d'affaires par catégorie :
 categ
0    27078.29
1    18867.72
2    25896.77
Name: price, dtype: float64

In [ ]:
# Le lien entre le genre du client et les catégories de livres achetés

transactions_genre_categorie = df_final.groupby(['categ', 'sex']).size()

print(transactions_genre_categorie)

categ  sex
0.0    f      206209
       m      209450
1.0    f      114899
       m      112270
2.0    f       17283
       m       19200
dtype: int64

In [ ]:
# Le lien entre le genre d’un client et le montant total des achats

montant_total_par_genre = df_final.groupby('sex')['price'].sum()

print(montant_total_par_genre)

sex
f    5859577.13
m    5993951.55
Name: price, dtype: float64

In [ ]:
 # Le lien entre l’âge des clients et la fréquence d'achat

freq_achat_par_age = df_final.groupby('birth').size()

print(freq_achat_par_age)

birth
1929      201
1930      226
1931      170
1932      311
1933      327
        ...
2000     4415
2001     4452
2002     4587
2003     4371
2004    15149
Length: 76, dtype: int64

In [ ]:
# Le lien entre l’âge des clients et la taille du panier moyen
taille_panier_moyen_par_age = df_final.groupby('birth')['session_id'].count().mean()

print(taille_panier_moyen_par_age)

8941.21052631579

In [ ]:
# Le lien entre l’âge des clients et la catégorie des livres achetés

transactions_age_categorie = df_final.groupby(['birth', 'categ']).size()

print(transactions_age_categorie)

birth  categ
1929   0.0        78
       1.0       122
       2.0         1
1930   0.0        75
       1.0       149
                ...
2003   1.0      1678
       2.0      1784
2004   0.0      3418
       1.0      5719
       2.0      6012
Length: 228, dtype: int64